<IfModule mod_rewrite.c>
  RewriteEngine On
  # Deploy oficial: painel em https://dominio/admin
  RewriteBase /admin/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
